* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Arial, Sans-serif;
	background: #21295c;
	color: #cf5c36;
	text-align: center;
	
}

.contenido {
	width: 300px;
	margin: 20px;
	background: #eee5e9;
	padding: 20px;
	display: inline-block;
}
h1{
	margin-bottom: 20px;
	color: #282b57;
}

form p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
}

input[type="text"]{
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
}

form .btn {
	width: 100%;
	background: #cf5c36;
	color: #fff;
	border:none;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
}
.btnx{
	background: darkgoldenrod;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	font-weight: 600;
}
